.container{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.container ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3.5rem;
}

.container ul li{
    list-style: none;
    padding-inline-end:2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container h1{
    width: 130px;
    padding-left: 1rem;
}