.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(27, 25, 25);
  color: white;
}

.container .carousel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
